body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f1f1f1;
}

h1, h2 {
    color: #333;
}

#tabellone {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cella {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
}

.estratto {
    background-color: orange;
    color: white;
}

#numeroEstratto {
    font-size: 60px;
    margin-top: 20px;
    height: 80px;
}
